:root {
    --primary-color: rgb(18,131,255);
    --secondary-color: rgb(7,119,240);
    --tertiary-color: rgb(1,43,89);
}

body {
    overscroll-behavior-y: none;
    margin: 0;
    padding: 0;
}

.friends-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-color: var(--primary-color);
    min-height: 100vh;
    overflow-y: auto;
    overscroll-behavior-y: contain;
}

.cans-image {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 0; /* Убрали отступ снизу */
}

.invite-button {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 100%;
    max-width: none;
    display: block;
}

.friends-list {
    width: 100%;
    max-width: 400px;
}
.friend-reward-button {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.friend-reward-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.friend-item {
    background-color: var(--tertiary-color);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friend-name {
    color: #fff;
    font-size: 16px;
}

.friend-xp {
    color: #FFD700;
    font-size: 14px;
}
